@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600&display=swap&subset=latin-ext');
@import 'carousel.css';
@import 'members.css';

:root {
  --page-width: 800px;
  --base-font-size: 16px;
  --small-font-size: 85%;

  --link-color: blue;

  --z-index-modal: 1000;
}

body {
  background: white;
  color: black;
  font: var(--base-font-size) / 1.5 'Source Sans Pro', Sans-Serif;
}

header,
main,
footer {
  margin: 1rem auto;
  max-width: var(--page-width);
}

header {
  position: relative;
}
header h1 {
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 0.5rem;
  margin-top: 2.5rem;
}
header h2 {
  margin-top: 0.5rem;
}
header nav {
  position: absolute;
  right: 0;
  top: -2rem;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  display: inline-block;
  padding: 0 0.2rem;
}
header nav ul li:after {
  content: '|';
  position: relative;
  left: 0.3rem;
}
header nav ul li:last-child {
  padding-right: 0;
}
header nav ul li:last-child:after {
  content: '';
}
header nav ul li a:active,
header nav ul li a.current {
  --link-color: black;
}

footer {
  border-top: solid 3px #ccc;
  font-size: var(--small-font-size);
}
footer p {
  margin: 1rem 0;
}
footer p:first-child {
  float: left;
}
footer p:last-child {
  text-align: right;
}

h3 {
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

blockquote {
  background: #333;
  color: white;
  margin: 1.5rem -1rem;
  padding: 1rem 2rem;
}
blockquote p,
blockquote dl {
  margin: 0;
}
blockquote a {
  color: #ccc;
}
blockquote a:hover {
  color: white;
  border-bottom: solid 1px white;
}

.hang-it {
  display: inline-block;
  margin-left: -0.5rem;
}

q {
  display: block;
  position: relative;
}
q::before {
  color: silver;
  content: '“';
  font-size: xx-large;
  font-weight: bold;
  left: -1.1rem;
  position: absolute;
  top: -0.36rem;
}
q::after {
  content: '';
}

dl {
}
dl dt {
  float: left;
  font-weight: bold;
  margin-right: 0.5rem;
}
dl dd {
  margin-left: 1rem;
}

h2 {
  font-weight: normal;
}

a {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  border-bottom: solid 1px --var(--link-color);
}

hr {
  border-style: solid;
  border-width: 1px;
  color: silver;
}

figure.float-right {
  float: right;
  margin: 0 0 1rem 1rem;
  width: 50%;
}
figure.float-right img {
  height: auto;
  width: 100%;
}
/* these images come from the cms so for now they have to be the first element
     on the page, so we use css to push them down the page a little to match the
     images on other pages
   */
figure.float-right.image-floated-right img {
  margin-top: 56px;
}
figure.float-right figcaption {
  font-size: var(--small-font-size);
  font-style: italic;
}

.tech-talks {
  list-style: none;
  margin: 1em 0;
  padding: 0;
}
.tech-talks > li {
  border-bottom: solid 1px #ccc;
  margin: 1rem 0;
  padding-bottom: 1rem;
}
.tech-talks > li:first-child {
  border-top: solid 1px #ccc;
}
.tech-talks h3 {
  margin: 1.5rem 0;
}
.tech-talks h3 em {
  font-weight: normal;
}

/* Donation */
.donation-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 0;
}

.checkout-button {
  --background-color: #f3f4f6;
  --border-color: #bebebe;
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  color: black;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
  transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
}

.checkout-button:hover,
.checkout-button:focus,
.checkout-button:active {
  outline: 0;
  box-shadow: 0 0 40px 40px var(--background-color) inset;
}

.checkout-button:active {
  --color: #01579b;
}

span.donation-option-text::before {
  display: inline-block;
  content: '😊';
  font-size: var(--smal-font-size);
  font-size: 10px;
  margin-right: 5px;
}

.checkout-button:hover span.donation-option-text::before,
.checkout-button:active span.donation-option-text::before {
  content: '❤️';
}

.checkout-button.loading {
  cursor: wait;
}

.checkout-button.loading span.donation-option-text::before {
  content: '⌛️';
}

.checkout-button:disabled,
.checkout-button[disabled] {
  opacity: 0.8;
}

/* Toast */

.toast {
  --background-color: #fefefe;
  --border-color: #bebebe;
  position: fixed;
  top: 10px;
  right: 10px;
  max-width: 350px;
  padding: 10px;
  background: var(--background-color);
  border: 1px solid var(--border-color);
  text-align: center;
  z-index: var(--z-index-modal);
}

.toast.error {
  --background-color: #f3e4e5;
  --border-color: red;
}

.toast.success {
  --background-color: #e4f3e6;
  --border-color: green;
}

.hidden {
  display: none;
}

/* small screens */
/* under 820px wide, adjust margins, fix the footer and tweak how we display the carousel */
@media screen and (max-width: 819px) {
  body {
    margin: auto 20px;
  }
  header h1 {
    padding-top: 1rem;
  }
  footer p:first-child {
    float: none;
  }
  footer p:last-child {
    text-align: left;
  }
}
