.carousel {
	max-height: calc(
		var(--page-width) / 3 * 2
	); /* 3:2 is the aspect ratio of our photos */
	margin: 1rem 0;
	padding: 0;
	position: relative;
	max-width: var(--page-width);
}

.carousel-base-image,
.carousel-image {
	height: auto;
	width: 100%;
}

.carousel-image {
	display: none;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: 1s opacity;
}
.carousel-image.ready {
	display: block;
}
.carousel-image.selected {
	opacity: 1;
}

/*

Photo credits behavior:

1. Should be styled as a black translucent overlay over the bottom/left corner of the photos
2. As the carousel moves through different photos, the 'selected' class should be assigned to the corresponding photo
3. When a photo credit has the 'selected' class, it should be shown with a caret pointing to the item

*/

.carousel-photo-credits {
	background: rgba(0, 0, 0, 0.5);
	color: white;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 1rem;
	position: absolute;
	right: 0;
}
.carousel-photo-credits p {
	display: inline-block;
	margin: 0;
	padding: 0 0.5rem 0;
}
.carousel-photo-credits a {
	color: white;
}
.carousel-photo-credits a:hover {
	border-color: white;
}
.carousel-photo-credits span {
	display: none;
}
.carousel-photo-credits span.selected {
	display: inline-block;
}

/* small screens */
/* under 820px wide, adjust margins, fix the footer and tweak how we display the carousel */
@media screen and (max-width: 819px) {
	.carousel {
		width: 100%;
	}
	.carousel-photo-credits {
		bottom: 6px;
		padding: 0.5rem;
	}
}
