---
import { BaseLayout } from '~layouts';

const firstHeadingId = 'gain-practical-experience';
---

<BaseLayout title="The Collab Lab" skipTargetId={firstHeadingId}>
	<section>
		<div class="c-jumbo-heading u-border-left pink">
			<div class="l-center--wide">
				<h1 id={firstHeadingId}>
					<strong
						>Honoring more than 5 years of creating inclusive opportunities for
						aspiring developers to collaborate and grow.</strong
					>
				</h1>
			</div>
		</div>
		<div class="l-switcher l-center--wide" style="gap: 0">
			<img
				alt=""
				class="c-hero u-desktop-only"
				height="500"
				width="800"
				src="/img/index-hero.svg"
			/>
			<div class="c-mission">
				<h2 id="mission">Our Mission</h2>
				<p>
					The Collab Lab, founded in 2019, increased access to web development
					jobs for early-career developers, particularly those from
					underrepresented groups in tech, by providing hands-on skills training
					in software team collaboration and career management.
				</p>
			</div>
		</div>
	</section>
	<section class="u-bg-black">
		<div class="l-center--wide">
			<h2 class="">Celebrating Our Journey</h2>
		</div>

		<div class="l-center--wide">
			<ul class="">
				<li class="journey-list-item u-border-left pink">
					<p>
						 From July 2019 to December 2024, The Collab Lab has connected over 170
						early-career developers from 25+ countries with real-world
						experience and mentorship. Our developers didn&apos;t just learn to
						code—they learned to collaborate, gaining the skills and confidence
						needed to succeed in tech. Many have gone on to roles at companies
						like Google, Shopify, and Zapier, while giving back to support the
						next wave of talent.
					</p>
				</li>
				<li class="journey-list-item u-border-left green">
					<p>
						We we&apos;re incredibly
						proud of the community we&apos;ve built together. None of this would
						have been possible without the dedication of our volunteers,
						mentors, and developers. Their passion and commitment have left a
						lasting legacy of growth, mentorship, and inclusion in tech.
						Our developers reflect the diversity we
						want to see in tech, with an emphasis on supporting people from
						groups typically underrepresented on software teams. Joining us as a
						volunteer is a way to give back and help early-career developers
						gain their footholds in tech.
					</p>
				</li>
				<li class="journey-list-item u-border-left yellow">
					<p class="">Meet the People Who Made It Happen:</p>
					<ul class="people-list">
						<li><a href="/mentors">👉 Our Mentors</a></li>
						<li><a href="/developers">👉 Our Developers</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</section>
</BaseLayout>

<style>
	:root {
		--border-width: 4px;
	}

	a {
		color: var(--color-yellow-mid);
	}

	p + p {
		margin-block-start: 2.4em;
	}

	.c-tcl-trait-list {
		padding-block-end: 2em;
		padding-block-start: 2em;
		padding-inline-start: 3.6em;
	}

	.c-tcl-trait-list > li {
		margin-block-end: 1.5em;
		position: relative;
		vertical-align: middle;
	}

	.c-tcl-trait-list > li::before {
		background-image: url('/img/icon-check.svg');
		content: '';
		display: block;
		position: absolute;
		height: 36px;
		width: 36px;
		top: -51%;
		left: -4em;
		vertical-align: middle;
	}

	.h2 {
		align-self: flex-start;
		max-inline-size: 5ch;
		margin-block-end: 0;
		margin-block-start: 0;
	}

	.c-jumbo-heading {
		--border-width: calc(0.8em + 0.2vw);
	}
	.c-jumbo-heading h1 {
		font-size: clamp(2.2em, calc(2.6vw + 2rem), 5.3rem);
		font-weight: 300;
		letter-spacing: 0.05em;
		line-height: 1.1;
		margin-block-end: 2em;
		max-inline-size: 32ch;
		text-align: left;
	}

	.c-jumbo-heading h1 > strong {
		font-weight: 700;
	}

	.c-hero {
		margin-inline-end: -2.4em;
		contain: content;
		inline-size: 45%;
		max-inline-size: 588px;
	}

	.c-mission {
		align-self: flex-start;
		box-sizing: content-box;
		border: 24px solid var(--color-blue-mid);
		padding-block: 2rem;
		padding-inline: 2rem;
	}

	.u-border-left {
		border-left: var(--border-width) solid transparent;
		padding-inline-start: 0.5em;
		min-height: 5rem;
	}

	.u-border-left.green {
		border-left-color: var(--color-green-mid);
	}
	.u-border-left.pink {
		border-left-color: var(--color-pink-mid);
	}

	.u-border-left.yellow {
		border-left-color: var(--color-yellow-mid);
	}

	.journey-list-item {
		margin: 32px 0px;
		max-width: 75vw;
		padding-left: 2em;
	}

	.people-list {
		padding-left: 2em;
	}
</style>
