---
import { BaseLayout } from '~layouts';

const firstHeadingId = 'gain-practical-experience';
---

<BaseLayout title="The Collab Lab" skipTargetId={firstHeadingId}>
	<section>
		<div class="c-jumbo-heading u-border-left pink">
			<div class="l-center--wide">
				<h1 id={firstHeadingId}>
					Gain <strong>practical experience</strong> by working remotely on<strong
					>
						real world projects</strong
					> with other<strong> early-career developers.</strong>
				</h1>
			</div>
		</div>
		<div class="l-switcher l-center--wide" style="gap: 0">
			<img
				alt=""
				class="c-hero u-desktop-only"
				height="500"
				width="800"
				src="/img/index-hero.svg"
			/>
			<div class="c-mission">
				<h2 id="mission">Our Mission</h2>
				<p>
					The Collab Lab increases access to web development jobs for
					early-career developers and, in particular, people in
					under-represented groups in tech by providing experiential skills
					training in software team collaboration and career management.
				</p>
			</div>
		</div>
	</section>
	<section class="u-bg-black">
		<div class="l-center--wide">
			<div class="l-cluster">
				<h3 class="h2">The Collab Lab is</h3>
				<ul class="c-tcl-trait-list">
					<li><strong>Collaborative</strong> group project practice</li>
					<li>
						A place to work alongside your <strong>peers</strong> in a fully remote
						setting
					</li>
					<li>
						An opportunity to <strong>learn</strong> from experienced developers
					</li>
					<li>Volunteer run and <strong>free</strong> for developers</li>
				</ul>
			</div>
		</div>

		<div class="l-center--wide">
			<h2>So you want to…</h2>
			<ul class="l-grid">
				<li>
					<h3 class="u-border-left pink">
						Learn how software teams collaborate?
					</h3>
					<p>
						There’s no better way to gain real-world experience in a supportive,
						inclusive environment than being a developer on a Collab Lab
						project. Join the over 170 early-career developers from around the
						world who have learned valuable skills that have helped them land
						their first programming job.
					</p>
					<p>
						You can do it! Head to <a href="/apply">our apply page</a> for the dates
						of our next cohort!
					</p>
				</li>
				<li>
					<h3 class="u-border-left yellow">Help fix tech?</h3>
					<p>
						The Collab Lab is on a mission to fix tech, an industry rife with
						gatekeeping and inequity. Our developers reflect the diversity we
						want to see in tech, with an emphasis on supporting people from
						groups typically underrepresented on software teams. Joining us as a
						volunteer is a way to give back and help early-career developers
						gain their footholds in tech.
					</p>
					<p>
						Ready to do this? Check out <a href="/volunteer"
							>our volunteer page</a
						>!
					</p>
				</li>
				<li>
					<h3 class="u-border-left green">Hire amazing early-career devs?</h3>
					<p>
						Collab Lab developers are more ready than the average bootcamp grad
						to step in and start contributing to your company’s success. Our
						alums currently work at companies including 1Password, Datadog,
						Discord, Divvy, Google, IBM, Intercom, New Relic, PayPal, POLITICO,
						SAP, Shopify, The Motley Fool, The Washington Post, Twilio, Twitter,
						and Zapier, among others.
					</p>
					<p>
						<a href="mailto:contact@the-collab-lab.codes">Get in touch</a> to diversify
						your hiring pool and hire developers you can grow!
					</p>
				</li>
			</ul>
		</div>
	</section>
</BaseLayout>

<style>
	:root {
		--border-width: 4px;
	}

	a {
		color: var(--color-yellow-mid);
	}

	p + p {
		margin-block-start: 2.4em;
	}

	.c-tcl-trait-list {
		padding-block-end: 2em;
		padding-block-start: 2em;
		padding-inline-start: 3.6em;
	}

	.c-tcl-trait-list > li {
		margin-block-end: 1.5em;
		position: relative;
		vertical-align: middle;
	}

	.c-tcl-trait-list > li::before {
		background-image: url('/img/icon-check.svg');
		content: '';
		display: block;
		position: absolute;
		height: 36px;
		width: 36px;
		top: -51%;
		left: -4em;
		vertical-align: middle;
	}

	.h2 {
		align-self: flex-start;
		max-inline-size: 5ch;
		margin-block-end: 0;
		margin-block-start: 0;
	}

	.c-jumbo-heading {
		--border-width: calc(0.8em + 0.2vw);
	}
	.c-jumbo-heading h1 {
		font-size: clamp(2.2em, calc(2.6vw + 2rem), 5.3rem);
		font-weight: 300;
		letter-spacing: 0.05em;
		line-height: 1.1;
		margin-block-end: 2em;
		max-inline-size: 32ch;
		text-align: left;
	}

	.c-hero {
		margin-inline-end: -2.4em;
		contain: content;
		inline-size: 45%;
		max-inline-size: 588px;
	}

	.c-mission {
		align-self: flex-start;
		box-sizing: content-box;
		border: 24px solid var(--color-blue-mid);
		padding-block: 2rem;
		padding-inline: 2rem;
	}

	.u-border-left {
		border-left: var(--border-width) solid transparent;
		padding-inline-start: 0.5em;
		min-height: 5rem;
	}

	.u-border-left.green {
		border-left-color: var(--color-green-mid);
	}
	.u-border-left.pink {
		border-left-color: var(--color-pink-mid);
	}

	.u-border-left.yellow {
		border-left-color: var(--color-yellow-mid);
	}
</style>
