---
import { BaseLayout } from '~layouts';
// import type { CohortRegions } from '~components';

// These date strings must be in UTC time,
// and must be in the format YYYY-MM-DD
// const cohortApplicationWindow: [Date, Date] = [
// 	new Date('2024-07-21 UTC'),
// 	new Date('2024-07-28 UTC'),
// ];
// const cohortKickoffDate = new Date('2024-08-11 UTC');

// const cohortRegions: CohortRegions[] = ['North America', 'Europe/Africa'];

const firstHeadingId = 'about-the-collab-lab-program';
---

<BaseLayout title="Participate" skipTargetId={firstHeadingId}>
	<section>
		<div class="l-center--wide">
			<div class="l-switcher">
				<div class="o-grid-item">
					<h1 id={firstHeadingId} class="h2">About The Collab Lab Program</h1>
					<ul>
						<li>
							<span class="u-text-bold">Project type:</span> Client-side JavaScript
							application
						</li>
						<li>
							<span class="u-text-bold">Tech stack:</span>
							<a href="https://reactjs.org/">React</a> for UI development,
							<a href="https://firebase.google.com/">Firebase</a> for both database
							and hosting,
						</li>
						<li><span class="u-text-bold">Team size:</span> 4 developers</li>
						<li>
							<span class="u-text-bold">Project duration:</span> 60 hours per developer
							(6 hours/week over 10 weeks)
						</li>
					</ul>
					<p>
						Successful Collab Lab developers came in having already learned
						basic web development and programming concepts. We didn’t teach
						coding; we taught collaboration! While you didn’t need a ton of
						experience, we encouraged participants to have completed the
						equivalent of a coding bootcamp, where they had learned (at a
						minimum) basic HTML, CSS, and JavaScript, and had completed a
						project or two in React.
					</p>
				</div>
				<img
					alt=""
					class="u-desktop-only"
					loading="lazy"
					src="/img/participate-hero.svg"
				/>
			</div>
		</div>
	</section>
	<section class="u-bg-black" style="padding-block: 0;">
		<div class="l-switcher">
			<div class="c-developers-collage u-desktop-only"></div>
			<div class="l-center c-visit-cta">
				<p class="h2">
					Visit our <a href="/developers">developers page</a> to learn more about
					each of the early career engineers who contributed to The Collab Lab!
				</p>
			</div>
		</div>
	</section>

	<section>
		<div class="l-center--wide">
			<h2 id="get-ready">What We looked for in applicants</h2>
			<p>
				While we are no longer accepting applications, here’s a look at the
				questions we previously asked prospective participants:
			</p>

			<ol>
				<li>
					<span class="u-text-bold">Name</span>
				</li>
				<li>
					<span class="u-text-bold">Pronouns</span> - Your identity is important
					to us.
				</li>
				<li>
					<span class="u-text-bold">Region</span> - Depending on mentor availability,
					we ran teams in North America, Latin America, and Europe/Africa.
				</li>
				<li>
					<span class="u-text-bold">Time Zone</span> - Our teams were based in North
					America, Latin America (in Spanish), and European/African time zones. 🌎🌍
				</li>
				<li>
					<span class="u-text-bold"
						>Do you agree to abide by The Collab Lab Code of Conduct?</span
					> - This was non-negotiable. To participate, everyone had to agree to follow
					the Code of Conduct.
				</li>
				<li>
					<span class="u-text-bold"
						>Link to a code repository (e.g., GitHub, Gitlab, Bitbucket, etc.)
						or other example of your work</span
					> - We used GitHub to host our projects. This was mostly about seeing examples
					of your work, and linking to a React project was the best approach.
				</li>
				<li>
					<span class="u-text-bold"
						>What do you hope to learn from participating in The Collab Lab?</span
					> - We wanted to understand your motivations and aspirations to form teams
					that could learn and support each other.
				</li>
				<li>
					<span class="u-text-bold"
						>What have you done to learn coding so far?</span
					> - We asked this to better understand your coding journey. There was no
					right or wrong answer, just insight into your learning process.
				</li>
			</ol>
		</div>
	</section>

	<section class="u-bg-black">
		<div class="l-center--wide">
			<div class="l-switcher">
				<div
					class="o-grid-item"
					style="display:flex;flex-direction: column;place-items: center;"
				>
					<h2 style="max-width: 12ch;">What happened after applying?</h2>
					<img
						alt=""
						class="u-desktop-only"
						loading="lazy"
						src="/img/participate-apply.svg"
						style="margin-top:3em;max-width:65%;"
					/>
				</div>
				<div class="o-grid-item">
					<p>There were two possible outcomes:</p>
					<p>
						🤗 Participants were accepted. Yay! We’d be in touch with next
						steps.
					</p>
					<p>
						😥 Participants weren’t selected this time, but we encouraged them
						to try again in an upcoming cohort!
					</p>
					<p>
						<span class="u-text-bold"
							>We always had more applicants than we had slots.</span
						> If participants were qualified, but the numbers just didn’t work out,
						we let them know and encouraged them to apply again using the same information.
						If we evaluated their experience and determined they didn’t meet the
						minimum requirements, we informed them so they could improve their chances
						for the next application window.
					</p>
					<p>
						This meant that participants might have needed to apply multiple
						times to be selected. The good news was, they always knew where they
						stood!
					</p>
				</div>
			</div>
		</div>
	</section>
</BaseLayout>
<style>
	ul {
		margin-top: 2.4em;
	}

	ol {
		margin-top: 2.4em;
		padding: 0 2.4em;
	}

	li + li {
		margin-top: 1.4em;
	}

	section:first-of-type li,
	section:first-of-type p {
		max-width: 52ch;
		margin-left: 0;
		margin-right: 0;
	}

	.c-image-placeholder {
		background-color: var(--color-blue-light);
	}

	.c-visit-cta {
		display: flex;
		flex-direction: column;
		justify-content: center;

		margin: 0 auto;
		max-width: 95%;
		padding-bottom: 4.8em;
		padding-top: 4.8em;
		width: 124rem;
	}

	.c-visit-cta a {
		color: var(--color-yellow-mid);
	}

	.c-developers-collage {
		background-image: url('/img/participate-developers-collage.webp');
		background-image: -webkit-image-set(
			url('/img/participate-developers-collage.webp') type('image/webp'),
			url('/img/participate-developers-collage.png') type('image/png')
		);
		background-image: image-set(
			url('/img/participate-developers-collage.webp') type('image/webp'),
			url('/img/participate-developers-collage.png') type('image/png')
		);
		background-position: center;
		flex-basis: 50%;
		flex-grow: 0;
	}
</style>
