---
import { BaseLayout } from '~layouts';
import { projects } from '~data';
import { ProjectGallery } from '~components';

const firstHeadingId = 'collab-lab-projects';
---

<BaseLayout title="ProjectGallery" skipTargetId={firstHeadingId}>
	<div class="l-center--wide">
		<h1 id={firstHeadingId} class="h2">Collab Lab Projects</h1>
		<p>A lovely description of the projects will go here...</p>
	</div>
	<div class="c-developers-container">
		<h2>Project Gallery</h2>

		<div class="l-grid c-projects-grid">
			{projects.map((project) => <ProjectGallery project={project} />)}
		</div>
	</div>
</BaseLayout>

<style>
	.c-developers-container {
		background-color: var(--color-black-dark);
	}

	.l-grid.c-projects-grid {
		color: var(--color-black-light);
		column-gap: 7.7rem;
	}

	.l-grid.c-projects-grid > h2 {
		margin-block-end: 0;
	}
</style>
