---
import { BaseLayout } from '@layouts';
---

<BaseLayout title="Tech talks">
	<h2>Tech Talks by The Collab Lab</h2>
	<blockquote>
		<p>
			Join us for a new Tech Talk on the 2nd Wednesday of every month.
			<a href="https://www.meetup.com/tech-talks-by-the-collab-lab"
				>RSVP on Meetup</a
			>.
		</p>
	</blockquote>

	<blockquote>
		<p>
			Interested in giving a Tech Talk?
			<a href="https://airtable.com/shrmy5hJ8tEiQsxI6">Submit your idea here</a
			>.
		</p>
	</blockquote>
</BaseLayout>
