---
import { BaseLayout } from '@layouts';
import { techTalks } from '@graphql';
---

<BaseLayout title="Tech talks">
	<h2>Tech Talks by The Collab Lab</h2>
	<blockquote>
		<p>
			Join us for a new Tech Talk on the 2nd Wednesday of every month.
			<a href="https://www.meetup.com/tech-talks-by-the-collab-lab"
				>RSVP on Meetup</a
			>.
		</p>
	</blockquote>

	<blockquote>
		<p>
			Interested in giving a Tech Talk?
			<a href="https://airtable.com/shrmy5hJ8tEiQsxI6">Submit your idea here</a
			>.
		</p>
	</blockquote>

	<ul>
		{
			techTalks.map((talk) => (
				<li>
					<h3>
						{talk.title} <em>{talk.formattedDate}</em>
					</h3>
					{talk.youTubeEmbedUrl && (
						<iframe
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen
							frameborder="0"
							loading="lazy"
							height="315"
							src={talk.youTubeEmbedUrl}
							width="560"
						/>
					)}
					<Fragment set:html={talk.description.html} />
				</li>
			))
		}
	</ul>

	<h2>Have a talk idea? Get in touch!</h2>
	<p>
		Interested in speaking at our Meetup?
		<a href="https://airtable.com/shrmy5hJ8tEiQsxI6">Submit your idea here</a>.
	</p>
</BaseLayout>
