---
import { Volunteer } from '~components';
import { volunteers } from '~data';
import { BaseLayout } from '~layouts';
---

<BaseLayout title="Volunteers">
	<div class="l-center--wide l-switcher">
		<div class="l-stack">
			<h2>Volunteer at The Collab Lab!</h2>
			<p>
				The Collab Lab is run by an amazing bunch of volunteers that do
				different things to keep the lights on.
			</p>
			<img src="/img/volunteer-hero.svg" alt="" />
		</div>
		<div class="roles">
			<details class="roles__details" open>
				<summary><span class="role-title">Project Team Mentors</span></summary>
				<p>
					These folks are professional engineers who spend 8 weeks leading teams
					of early-career engineers through building an app on a software
					development team, hosting 1-hour weekly synchronous meetings each
					weekend, holding office hours to assist developers, participating in
					code reviews, and presenting learning modules.
				</p>
				<p>
					<b>Commitment</b>: ~5 hours/week for 10 weeks
				</p>
				<p>
					Ready to do this? Tell us about you through our <a
						href="https://airtable.com/shrkLMh9ueC5ivdL4"
						>mentor application form!</a
					>
				</p>
			</details>

			<details class="roles__details">
				<summary><span class="role-title">Career Lab Volunteers</span></summary>
				<p>
					Each quarter, we run Career Lab, a 2-week extension on the core Collab
					Lab project where our Collabies get the opportunity to optimize their
					Linkedin and practice mock job fit and technical with folks who are
					interviewing engineers every day in their respective roles. These
					folks take time to coach our Collabies through the job hunt and
					interview process.
				</p>
				<p>
					<b>Commitment</b>: ~5 hours per week for 2 weeks
				</p>
			</details>

			<details class="roles__details">
				<summary><span class="role-title">Automation Heroes</span></summary>
				<p>
					Behind the scenes of The Collab Lab, our Automation Heroes build
					automations to help us be more efficient in doing the work to keep the
					lights on for our programs. They write scripts to automate team setup,
					ensure all the teams' projects are up to date, and maintain our
					website with Hygraph, Astro, and Netlify.
				</p>
			</details>

			<details class="roles__details">
				<summary><span class="role-title">Community Managers</span></summary>
				<p>
					These folks keep our community engaged and growing! They organize and
					host our Tech Talk series, manage our social media, and keep our
					internal channels poppin’ with fun and helpful events and
					conversations.
				</p>
			</details>

			<details class="roles__details">
				<summary><span class="role-title">Code of Conduct Team</span></summary>
				<p>
					At the Collab Lab, we’re dedicated to creating and maintaining an
					inclusive and psychologically safe space for everyone in our community
					to learn and grow in. Our Code of Conduct responders are
					professionally trained and ensure everyone in our community is
					upholding the commitment to our Code of Conduct.
				</p>
			</details>
			<p class="c-callout">
				Still not sure whether volunteering for The Collab Lab is a good fit for
				you? Please don’t hesitate to email Andrew at <a
					href="mailto:andrew@the-collab-lab.codes"
					>andrew@the-collab-lab.codes</a
				> to get your questions answered!
			</p>
		</div>
	</div>

	<div
		style={{
			backgroundColor: 'var(--color-black-dark)',
			color: 'var(--color-black-light)',
		}}
	>
		<div class="l-center--wide">
			<h2 id="volunteers" style="text-align: center;">Our volunteers</h2>

			<div class="l-grid c-volunteers-grid">
				{volunteers.map((volunteer) => <Volunteer volunteer={volunteer} />)}
			</div>
		</div>
	</div>
</BaseLayout>

<style>
	details {
		border-top: 2px solid var(--color-black-mid);
	}
	details:last-of-type {
		border-bottom: 2px solid var(--color-black-mid);
	}

	details[open] {
		padding-block-end: 1.2em;
	}

	details > :last-child {
		margin-block-end: 0;
	}
	summary {
		cursor: pointer;
		font-weight: 700;
		font-size: 1.2em;
		padding: 0.8em 0;
	}

	summary ~ * {
		margin-inline-start: 1.6em;
	}

	.role-title {
		display: inline-block;
		margin-inline-start: 0.5em;
	}

	.l-grid.c-volunteers-grid {
		column-gap: 7.7rem;
	}

	.c-callout {
		padding: 1.6em;
		background-color: var(--color-pink-mid);
		font-size: 0.8em;
		margin-block-start: 1.6em;
	}

	.c-callout > a {
		color: inherit;
	}
</style>
