---
import { VolunteerCard } from '~components';
import { founders, volunteers } from '~data';
import { BaseLayout } from '~layouts';

const firstHeadingId = 'volunteer-at-the-collab-lab';
---

<BaseLayout title="Volunteers" skipTargetId={firstHeadingId}>
	<div class="l-center--wide l-switcher">
		<div class="l-stack">
			<h1 id={firstHeadingId} class="h2">Volunteers at The Collab Lab!</h1>
			<p>
				The Collab Lab was run by an amazing bunch of volunteers that did
				different things to keep the lights on.
			</p>
			<img src="/img/volunteer-hero.svg" alt="" />
		</div>
		<div class="roles">
			<details class="roles__details" open>
				<summary><span class="role-title">Project Team Mentors</span></summary>
				<p>
					These folks are professional engineers who spent 8 weeks leading teams
					of early-career engineers through building an app on a software
					development team, hosting 1-hour weekly synchronous meetings each
					weekend, holding office hours to assist developers, participating in
					code reviews, and presenting learning modules.
				</p>
				<p>
					<b>Commitment:</b> ~5 hours/week for 10 weeks
				</p>
			</details>

			<details class="roles__details">
				<summary><span class="role-title">Career Lab Volunteers</span></summary>
				<p>
					Each quarter, we ran Career Lab, a 2-week extension on the core Collab
					Lab project where our Collabies got the opportunity to optimize their
					Linkedin and practice mock job fit and technical with folks who are
					interviewing engineers every day in their respective roles. These
					folks took time to coach our Collabies through the job hunt and
					interview process.
				</p>
				<p>
					<b>Commitment:</b> ~5 hours per week for 2 weeks
				</p>
			</details>

			<details class="roles__details">
				<summary><span class="role-title">Automation Heroes</span></summary>
				<p>
					Behind the scenes of The Collab Lab, our Automation Heroes built
					automations to help us be more efficient in doing the work to keep the
					lights on for our programs. They wrote scripts to automate team setup,
					ensure all the teams' projects were up to date, and maintained our
					website with Hygraph, Astro, and Netlify.
				</p>
			</details>

			<details class="roles__details">
				<summary><span class="role-title">Community Managers</span></summary>
				<p>
					These folks kept our community engaged and growing! They organized and
					hosted our Tech Talk series, managed our social media, and kept our
					internal channels poppin’ with fun and helpful events and
					conversations.
				</p>
				<p>
					<b>Prerequisite:</b> Due to the nature of this role, we required Community
					Managers to have participated as either a mentor or developer on a project
					team.
				</p>
			</details>

			<details class="roles__details">
				<summary><span class="role-title">Code of Conduct Team</span></summary>
				<p>
					At the Collab Lab, we dedicated ourselves to creating and maintaining
					an inclusive and psychologically safe space for everyone in our
					community to learn and grow in. Our Code of Conduct responders were
					<a href="https://otter.technology/code-of-conduct-training/"
						>professionally trained</a
					> to ensure everyone in our community upheld the commitment to our Code
					of Conduct.
				</p>
				<p>
					<b>Prerequisite:</b> Due to the nature of this role, we required Code of
					Conduct Responders to have participated as either a mentor or developer
					on a project team.
				</p>
			</details>
			<p class="c-callout">
				Our volunteers have been the heart of The Collab Lab, helping to make a
				lasting impact in the tech community. While we’re no longer active, we
				are incredibly grateful for the dedication and hard work of everyone who
				volunteered with us over the years. Keep up the great work and continue
				supporting the tech community in any way you can!
			</p>
		</div>
	</div>

	<div
		style={{
			backgroundColor: 'var(--color-black-dark)',
			color: 'var(--color-black-light)',
		}}
	>
		<div class="l-center--wide">
			<h2 id="founders" style="text-align: center;">Our founders</h2>

			<div class="l-grid c-volunteers-grid">
				{
					founders.map((founder) => (
						<VolunteerCard volunteer={founder} hideRoles />
					))
				}
			</div>
		</div>
		<div class="l-center--wide">
			<h2 id="volunteers" style="text-align: center;">Our volunteers</h2>

			<div class="l-grid c-volunteers-grid">
				{volunteers.map((volunteer) => <VolunteerCard volunteer={volunteer} />)}
			</div>
		</div>
	</div>
</BaseLayout>

<style>
	details {
		border-top: 2px solid var(--color-black-mid);
	}
	details:last-of-type {
		border-bottom: 2px solid var(--color-black-mid);
	}

	details[open] {
		padding-block-end: 1.2em;
	}

	details > :last-child {
		margin-block-end: 0;
	}
	summary {
		cursor: pointer;
		font-weight: 700;
		font-size: 1.2em;
		padding: 0.8em 0;
	}

	summary ~ * {
		margin-inline-start: 1.6em;
	}

	.role-title {
		display: inline-block;
		margin-inline-start: 0.5em;
	}

	.l-grid.c-volunteers-grid {
		column-gap: 7.7rem;
	}

	.c-callout {
		padding: 1.6em;
		background-color: var(--color-pink-mid);
		font-size: 0.8em;
		margin-block-start: 1.6em;
	}

	.c-callout > a {
		color: inherit;
	}
</style>
