<div class="banner">
	<p class="u-text-large">
		<span class="u-text-bold">Notice: </span>The Collab Lab is closing at the
		end of 2024 -- <a href="/farewell">more details here</a>. We're excited to
		announce that we will be running one final cohort. <a href=" /participate"
			>Learn how to apply here!</a
		>
	</p>
</div>

<style>
	.banner {
		align-self: flex-start;
		box-sizing: content-box;
		border: 16px solid var(--color-blue-dark);
		padding-block: 2rem;
		padding-inline: 2rem;
		margin: 3rem auto;
		background-color: var(--color-yellow-light);
		max-width: 70vw;
	}
</style>
