<div class="banner">
	<p class="u-text-large">
		<span class="u-text-bold">Notice: </span>The Collab Lab is closing at the
		end of 2024 — read <a href="/farewell">our farewell anouncement</a> for more
		info.
	</p>
</div>

<style>
	.banner {
		align-self: flex-start;
		box-sizing: content-box;
		padding: 2rem;
		background-color: var(--color-yellow-light);

		& > p {
			line-height: 1.4;
			margin: 0 auto;
			max-inline-size: min(95vw, 98rem);
			text-align: center;
		}
	}
</style>
