---
import { GetInTouch } from '~components';
---

<footer>
	<div class="l-center--wide l-grid">
		<section>
			<h2 id="support-collab-lab">Thank you for supporting Collab Lab!</h2>
			<p>
				We’re incredibly grateful for the donations we’ve received over the
				years. As The Collab Lab is now closing, we are no longer accepting
				donations. We encourage you to continue supporting other nonprofits
				making a difference in tech and beyond.
			</p>
			<p>Thank you for being part of our journey! ❤️</p>
		</section>
		<section>
			<GetInTouch />
			<div class="l-stack" style="margin-block-start: 2em;">
				<p>
					Made with
					<a href="https://astro.build/">Astro</a> and
					<a href="https://hygraph.com/">Hygraph</a>. Deployed on <a
						href="https://www.netlify.com/">Netlify</a
					>.
				</p>
				<p>
					Copyright <span aria-hidden="true">&copy;</span> 2019 &ndash; {
						new Date().getFullYear()
					} The Collab Lab. All rights reserved.
				</p>
				<p>
					All participants agree to adhere to our
					<a href="/code-of-conduct/">Code of Conduct</a>.
				</p>
			</div>
		</section>
	</div>
</footer>
<style>
	:root {
	}
	/* Render two colors behind the footer, split horizontally:
	 * off-white, then yellow.
	 */
	.u-bg-split {
		--divider-angle: 180deg;
		background: linear-gradient(
			var(--divider-angle),
			var(--color-black-light) var(--section-1-height),
			var(--color-yellow-mid) var(--section-2-height)
		);
	}

	/* When the footer converts to two columns,
	 * split the background vertcally.
	 */
	@media (min-width: 990px) {
		.u-bg-split {
			--divider-angle: 90deg;
		}
	}
	footer {
		--section-1-height: 50%;
		--section-2-height: 50%;
		background-color: var(--color-yellow-mid);
	}

	footer section {
		padding-block-end: var(--s2);
	}

	footer section:last-of-type {
		padding-block-end: var(--s4);
	}

	footer a {
		color: var(--color-black-dark);
	}

	@supports (width: min(460px, 100%)) {
		footer .l-grid {
			grid-template-columns: repeat(auto-fit, minmax(min(460px, 100%), 1fr));
		}
	}
</style>
<!-- TODO: Split-color background relies on some JavaScript math.
EJ to fix. -->
<!-- <script>
	document.addEventListener('DOMContentLoaded', () => {
		// create a media query for max-width: 990px;
		const mq = window.matchMedia('(max-width: 990px)');

		const footer = document.querySelector('footer') as HTMLElement;

		const sections = document.querySelectorAll('footer section');
		const grid = footer.querySelector('.l-grid') as HTMLElement;

		footer.classList.add('u-bg-split');

		function calculateHeights() {
			if (!mq.matches) {
				footer.style.setProperty('--section-1-height', '50%');
				footer.style.setProperty('--section-2-height', '50%');
				return;
			}

			const footerHeight = footer.offsetHeight;

			// Get the computed gap between the sections
			const gap = parseFloat(
				window.getComputedStyle(grid).getPropertyValue('gap'),
			);

			const footerSectionHeights = new Array(2);

			sections.forEach((section, idx) => {
				// get the height of the section
				// to the whole pixel

				// calculate the height as a percentage of the footer height
				// with the gap subtracted
				const height =
					(((section as HTMLElement).offsetHeight + gap / 2) * 100) /
					footerHeight;

				footerSectionHeights[idx] = height;
			});

			footer.style.setProperty(
				'--section-1-height',
				footerSectionHeights[0] + '%',
			);

			footer.style.setProperty(
				'--section-2-height',
				footerSectionHeights[1] + '%',
			);
		}


		// calculateHeights();
		// mq.addEventListener('change', calculateHeights);
	});
</script> -->
