---
const routes = [
	{
		path: '/participate/',
		name: 'Participate',
	},
	{
		path: '/code-of-conduct/',
		name: 'Code of Conduct',
	},
	{
		path: '/volunteer/',
		name: 'Volunteer',
	},
	{
		path: '/tech-talks/',
		name: 'Tech Talks',
	},
];

const currentPath = Astro.url.pathname;
---

<nav class="nav l-cluster-nowrap">
	{
		routes.map(({ path, name }) => (
			<a
				class="nav-link"
				href={path}
				aria-current={path === currentPath || null}
			>
				{name}
			</a>
		))
	}
</nav>

<style>
	.nav > .nav-link {
		padding: 0.5rem 1rem;
	}
</style>
