---
const routes = [
	{
		path: '/developers/',
		name: 'Developers',
	},
	{
		path: '/mentors/',
		name: 'Mentors',
	},
	{
		path: '/tech-talks/',
		name: 'Tech Talks',
	},
	{
		path: '/our-processes/',
		name: 'Our Processes',
	},
];

const currentPath = Astro.url.pathname;
---

<nav class="nav l-cluster-nowrap">
	{
		routes.map(({ path, name }) => (
			<a
				class="nav-link"
				href={path}
				aria-current={path === currentPath || null}
			>
				{name}
			</a>
		))
	}
</nav>

<style>
	.nav-link {
		color: inherit;
		padding: 0.5rem 1rem;
		text-decoration: none;
	}
</style>
